@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:wght@100;200&family=Dosis:wght@200&family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,700;1,9..144,300&family=Inter:wght@300&family=Itim&family=Lato:wght@300&family=Ma+Shan+Zheng&family=Merriweather:wght@300&family=Montserrat:wght@300;500;700&family=Nanum+Gothic&family=Open+Sans:wght@300&family=Outfit:wght@100;400;700&family=PT+Serif&family=Playfair+Display:ital,wght@0,400;1,600&family=Poppins:wght@200;300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.background {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px ;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1.3rem 0 1.3rem;

}

.details h1 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    margin: 1rem 1rem 0 1rem;
    font-size: 1.3rem;

}

.details p {
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 400;
    margin: 1.2rem 1rem 2rem 1rem;
    font-size: 15px;

}

@media screen and (max-width: 1220px) {
    .background {
        width: 365px;

    }

}